{{#if @model.songs.length}}
  <ul>
    {{#each @model.songs as |song|}} 
      <li class="mb-2">
        {{song.title}}
        <span class="float-right">
          <StarRating 
            @rating={{song.rating}}
            @onUpdate={{set song.rating _}}
          />
        </span>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="text-center">The band has no songs yet</p>
{{/if}}
{{#if this.showAddSong}}
  <div class="flex justify-center mt-2">
    <button
      type="button"
      class="px-4 py-2 bg-purple-600 rounded shadow-md hover:shadow- lg hover:text-white hover:bg-purple-500 focus:outline-none"
      {{on "click" (set this.showAddSong false)}}
    >
      Add song
    </button>
   </div>
{{else}}
  <div class="flex mt-6">
    <input
      type="text"
      class="px-4 py-2 text-gray-800 bg-white rounded-md"
      placeholder="Title"
      value={{this.title}}
      {{on "input" (pick "target.value" (set this.title))}}
    />
    <button
      type="button"
      class="px-4 py-2 ml-4 bg-purple-600 rounded shadow-md hover:shadow-lg hover:text-white"
      {{on "click" this.saveSong}}
    >
      Save
    </button>
    <button
      type="button"
      class="p-2 px-4 ml-2 text-purple-600 bg-white border rounded shadow-md border-bg- purple-600 hover:shadow-lg"
      {{on "click" this.cancel}}
    >
      Cancel
    </button>
  </div>
{{/if}}
